# ==========================
# Data processing
# ==========================
pandas
numpy
pyarrow

# ==========================
# Machine Learning
# ==========================
scikit-learn
xgboost
imbalanced-learn

# ==========================
# Experiment Tracking
# ==========================
mlflow

# ==========================
# Explainability
# ==========================
shap

# ==========================
# Visualization
# ==========================
matplotlib
seaborn
plotly

# ==========================
# Dashboard
# ==========================
streamlit
Pillow

# ==========================
# GenAI
# ==========================
groq

# ==========================
# Utilities
# ==========================
python-dotenv
joblib